[Unit]
Description=Spring Boot Application
After=syslog.target

[Service]

ExecStart=/usr/bin/java -jar /opt/myapp/*.jar
SuccessExitStatus=143
Restart=always
RestartSec=30
SyslogIdentifier=java-app

[Install]
WantedBy=multi-user.target


